@if(isMobile == false) {
<div class="app-title">NecroClock</div>
<app-top-bar-component [demandas]="demandas" 
    (onLogout)="onLogOut()"
    (onNovaData)="onNovaData($event)"
    (onCadastrarDemanda)="cadastrarDemanda($event)"
    (onFiltrarDemandas)="filtrarDemandas($event)"></app-top-bar-component>
<app-middle-component [mes]="range" [demandas]="demandas"
    (onAdicionarHora)="adicionarHora($event)"
    (onRemoverHora)="removerHora($event)"
    (onDeletarDemanda)="deletarDemanda($event)"
    (onEditarDemanda)="editarDemanda($event)"></app-middle-component>
} @else {

}

<p-confirmDialog></p-confirmDialog>