@if(isMobile == false) {
<div class="app-title">NecroClock</div>
<app-top-bar-component (onLogout)="onLogOut()" (onNovaData)="onNovaData($event)"
    (onCadastrarDemanda)="cadastrarDemanda($event)"></app-top-bar-component>
<app-middle-component [mes]="range" [demandas]="demandas"
    (onAdicionarHora)="adicionarHora($event)"
    (onRemoverHora)="removerHora($event)"
    (onDeletarDemanda)="deletarDemanda($event)"></app-middle-component>
<p-toast position="top-right"></p-toast>
} @else {

}

<p-confirmDialog></p-confirmDialog>